body {
  background-color: pink;
}

.App {
  background-color: white;
  margin: 5px;
  padding: 10px;
  border: 2px darkgrey solid;
  border-radius: 10px
}

.factoid {
  background-color: lightgrey;
  border: 2px darkgrey solid;
  margin: 0px 20px 20px;
  border-radius: 10px;
  padding: 0px 10px;
}

.header {
  margin: 20px;
}

.footer {
  margin: 20px;
}

.play {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: lightgrey;
  border: 2px darkgrey solid;
  border-radius: 5px
}
